ul {
  list-style: none;
}
ul li {
  display: inline-block;
  padding: 10px;
}
.user-login-status {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15%;
}
.user-login-status img {
  border-radius: 50%;
}
.user-name {
  position: absolute;
  margin-top: 2px;
  padding-left: 5px;
}
.logout {
  background: #28a8f4;
  position: absolute;
  right: 7px;
  padding: 3px;
  font-size: 12px;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  cursor: pointer;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.padding-8 {
  padding: 8px;
}
.margin-5 {
  margin: 5px;
}
.btn {
  border: 1px solid #28a8f4;
  border-radius: 5px;
  background-color: #28a8f4;
  color: #ffffff;
}
.input-control {
  width: 14%;
}
.tree-ul {
  padding-left: 5px;
  border-left: 1px solid silver;
}
.tree-ul li {
  display: block;
  margin-left: 45px;
}
.action-btn {
  display: inline-block;

  color: #ffffff;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}
.add-btn {
  background-color: #28a8f4;
}
.remove-btn {
  background-color: #b21b1b;
}
.display-flex {
  display: flex !important;
}
.margin-left-45 {
  margin-left: 45px;
}
.margin-left-5 {
  margin-left: 5px;
}
.add-btn-hover {
  display: none;
}
.text-box {
  padding: 5px;
  min-width: 300px;
}
.node-textbox {
  display: block;
  border: 1px solid silver;
  border-radius: 5px;
}
.add-li {
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px !important;
}
.editable-textbox {
  border: none;
  -webkit-appearance: none;
}
.editable-textbox:focus {
  border: none;
  outline: none;
}
.hide-container {
  visibility: hidden;
}
